<div id="header" class="navbar-toggleable-md sticky shadow-after-3 clearfix">

    <!-- TOP NAV -->
    <header id="topNav">
        <div class="container">

            <!-- Mobile Menu Button -->
            <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                <i class="fa fa-bars"></i>
            </button>

            <!-- BUTTONS -->
            <ul class="float-right nav nav-pills nav-second-main">

                <!-- SEARCH -->
                <li class="search">
                    <a href="javascript:;">
                        <i class="fa fa-search"></i>
                    </a>
                    <div class="search-box">
                        <form action="page-search-result-1.html" method="get">
                            <div class="input-group">
                                <input type="text" name="src" placeholder="Поиск..." class="form-control"/>
                                <span class="input-group-btn">
												<button class="btn btn-primary" type="submit">Поиск</button>
											</span>
                            </div>
                        </form>
                    </div>
                </li>
                <!-- /SEARCH -->

            </ul>
            <!-- /BUTTONS -->


            <!-- Logo -->
            <a class="logo float-left" href="index.html">
                <img src="images/logo.png" alt=""/>
            </a>

            <!--
                Top Nav

                AVAILABLE CLASSES:
                submenu-dark = dark sub menu
            -->
            <div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
                <nav class="nav-main">

                    <!--
                        NOTE

                        For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                        Direct Link Example:

                        <li>
                            <a href="#">HOME</a>
                        </li>
                    -->
                    <ul id="topMain" class="nav nav-pills nav-main">
                        <li class="active">
                            <a href="#">Главная</a>
                        </li>

                        <li>
                            <a href="#">О нас</a>
                        </li>

                        <li class="dropdown mega-menu"><!-- Продукция -->
                            <a class="dropdown-toggle" href="#">
                                Продукция
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="row">

                                        <div class="col-md-3">
                                            <ul class="list-unstyled">
                                                <li><span>Полиграфия</span></li>
                                                <li><a href="portfolio-grid-1-columns.html">1 COLUMN</a></li>
                                                <li><a href="portfolio-grid-2-columns.html">2 COLUMNS</a></li>
                                                <li><a href="portfolio-grid-3-columns.html">3 COLUMNS</a></li>
                                                <li><a href="portfolio-grid-4-columns.html">4 COLUMNS</a></li>
                                                <li><a href="portfolio-grid-5-columns.html">5 COLUMNS</a></li>
                                                <li><a href="portfolio-grid-6-columns.html">6 COLUMNS</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-md-3">
                                            <ul class="list-unstyled">
                                                <li><span>Сувенирка</span></li>
                                                <li><a href="portfolio-masonry-2-columns.html">2 COLUMNS</a></li>
                                                <li><a href="portfolio-masonry-3-columns.html">3 COLUMNS</a></li>
                                                <li><a href="portfolio-masonry-4-columns.html">4 COLUMNS</a></li>
                                                <li><a href="portfolio-masonry-5-columns.html">5 COLUMNS</a></li>
                                                <li><a href="portfolio-masonry-6-columns.html">6 COLUMNS</a></li>

                                            </ul>
                                        </div>

                                        <div class="col-md-3">
                                            <ul class="list-unstyled">
                                                <li><span>Широкоформатная печать</span></li>
                                                <li><a href="portfolio-single-extended.html">EXTENDED ITEM</a></li>
                                                <li><a href="portfolio-single-parallax.html">PARALLAX IMAGE</a></li>
                                                <li><a href="portfolio-single-slider.html">SLIDER GALLERY</a></li>
                                                <li><a href="portfolio-single-html5-video.html">HTML5 VIDEO</a></li>
                                                <li><a href="portfolio-single-masonry-thumbs.html">MASONRY THUMBS</a>
                                                </li>
                                                <li><a href="portfolio-single-embed-video.html">EMBED VIDEO</a></li>
                                                <li><a href="portfolio-single-project.html">SINGLE PROJECT</a></li>
                                            </ul>
                                        </div>

                                        <div class="col-md-3">
                                            <ul class="list-unstyled">
                                                <li><span>Наружная реклама</span></li>
                                                <li><a href="portfolio-layout-default.html">DEFAULT</a></li>
                                                <li><a href="portfolio-layout-aside-left.html">LEFT SIDEBAR</a></li>
                                                <li><a href="portfolio-layout-aside-right.html">RIGHT SIDEBAR</a></li>
                                                <li><a href="portfolio-layout-aside-both.html">BOTH SIDEBAR</a></li>
                                                <li><a href="portfolio-layout-fullwidth.html">FULL WIDTH (100%)</a></li>
                                                <li><a href="portfolio-layout-tabfilter.html">TAB FILTER &amp;
                                                        PAGINATION</a></li>

                                            </ul>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Новости</a>
                        </li>

                        <li>
                            <a href="#">Статьи</a>
                        </li>

                        <li>
                            <a href="#">Контакты</a>
                        </li>

                    </ul>

                </nav>
            </div>

        </div>
    </header>
    <!-- /Top Nav -->

</div>